.FlatList {
    padding: 0 0 0 1em;
}

.FlatList > .Flat {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}

.Flat > ul {
    list-style-type: none;
    padding: 0;
    width: 300px;
}

.Flat > ul > li {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

.addFlatForm {
    display: grid;
    grid-template-columns: 150px 200px;
    grid-template-rows: auto auto auto auto auto auto auto;
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

.addFlatForm > h2 {
    grid-column: span 2; 
    text-align: center;
    border-bottom: 2px solid black;
    margin: 0;
}

.addFlatForm > .addFlatInput {
    margin: 2px 0px;
    height: 15px;
}

.addFlatForm > .addFlatInputLabel {align-self: center;}
.addFlatForm > #isActiveLabel {grid-row: 2;}
.addFlatForm > #isActiveInput{grid-row: 2; grid-column: 2; justify-self: center; margin: 6px auto;}
.addFlatForm > #nameLabel {grid-row: 3;}
.addFlatForm > #nameInput {grid-row: 3; grid-column: 2;}
.addFlatForm > #ageLabel {grid-row: 4;}
.addFlatForm > #ageInput {grid-row: 4; grid-column: 2;}
.addFlatForm > #companyLabel {grid-row: 5;}
.addFlatForm > #companyInput {grid-row: 5; grid-column: 2;}
.addFlatForm > #emailLabel {grid-row: 6;}
.addFlatForm > #emailInput {grid-row: 6; grid-column: 2;}
.addFlatForm > #cancelButton {grid-row: 7;}
.addFlatForm > #submitButton {grid-row: 7; grid-column: 2;}
